nav {
  background-color: blue;
  height: 50px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  flex: 1 1 auto;
}
nav ul li a {
  color: red;
}
nav ul li a:hover {
  color: white;
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
